extends layout.pug

append head
    script(src='/javascripts/edit-custom-shelves.js' type='module' defer)
    link(rel='stylesheet' href='/stylesheets/custom-shelves-edit.css')

block content
    if userId
        div(style="display:none" id="userId") #{userId}
        div(class='mainContent')
            h1: <a href='/my-game-guides'>My Game Guides</a> > Edit Shelves
            div(class='leftContainer')
                div(class='stacked')
                    form(class='addShelfForm' action=`/users/${userId}/customShelves` method='post')
                        input(type='hidden' name='_csrf' value=csrfToken)
                        input(type='text' id='addShelf' name='addShelf' maxlength='50' placeholder='Add a Shelf')
                        button(type='submit' class='addShelfBtn') Add
                        p(id='errorMessage')
                table(id='shelfTable' class='tableList stacked')
                    tbody(class='tbody')
                        tr
                            th
                            th Shelf
                            th
                        if customShelfAndCount
                            each shelf in customShelfAndCount
                                tr(class='shelf')
                                    td(class='remove')
                                        button.remove-custom-button(type='submit' data-shelf-name=`${shelf.name}`) X
                                    td(class='userShelf')
                                        div(class='displayShelfName')
                                            a(class='displayShelfNameLink' href=`/my-game-guides/custom-shelves/${shelf.name}` style="display: inline")= `${shelf.name} (${shelf.count})`
                                            a(class=`renameUserShelfLink ${shelf.name}` href='#' data-shelf-name=`${shelf.name}`)= " Rename"
                                    td
                                        span(class=`renameUserShelf ${shelf.name}`)
                                            form(class='renameShelfForm' action=`/custom-shelves/${shelf.name}/edit` method='post')
                                                input(type='hidden' name='_csrf' value=csrfToken)
                                                input(type='text' name='name' class='renameUserShelfText' value=shelf.name)
                                                button(type='submit' class='renameShelfBtn') Save
                                                //- a(class='cancelRenameBtn' href='#' data-shelf-name=`${shelf.name}`) Cancel

                div(class='right')
                    a(href='/my-game-guides') I'm Done
