extends layout.pug

append head
<<<<<<< HEAD
    script(src='/javascripts/edit-custom-shelves.js' type='module' defer)
=======
    link(rel='stylesheet' href='/stylesheets/custom-shelves-edit.css')
>>>>>>> main

block content
    div(class='mainContentContainer')
    if userId
        div(style="display:none" id="userId") #{userId}
        div(class='mainContent')
            h1: <a href='/my-game-guides'>My Game Guides</a> > Edit Shelves
            div(class='leftContainer')
                div(class='stacked')
                    form(class='addShelfForm' action=`/users/${userId}/customShelves` method='post')
                        input(type='hidden' name='_csrf' value=csrfToken)
                        input(type='text' id='addShelf' name='addShelf' maxlength='50' placeholder='Add a Shelf')
                        button(type='submit' class='addShelfBtn') Add
                table(id='shelfTable' class='tableList stacked')
                    tbody
                        tr
                            th
                            th Shelf
                        if customShelves
                            each shelf in customShelves
                                tr(class='shelf' data-shelf-name=`${shelf.name}`)
                                    td(class='remove'): a(class='removeShelfBtn') X
                                    td(class='userShelf')
                                        div(class='displayShelfName')
                                            a(class='displayShelfNameLink' href=`/my-game-guides/custom-shelves/${shelf.name}`)= `${shelf.name} (?)`
                                            a(class='renameUserShelfLink' href='#')= " Rename"
                                        div(class='renameUserShelf')
                                            form(class='renameShelfForm' action='#' method='post')
                                                input(type='hidden' name='_csrf' value=csrfToken)
                                                input(type='text' name='renameShelf' class='renameUserShelfText' value=shelf.name)
                                                button(type='button' class='renameShelfBtn') Save
                                                a(class='cancelRenameBtn' href='#') Cancel
                div(class='right')
                    a(href='/my-game-guides') I'm Done
                div(class='left')
                    //- Have pop up to confirm
                    a(href='#') Delete All of My Shelves
            div(class='rightContainer')
                div(class='box')
                //- Don't need any of the text from goodreads, maybe explain some features are not ready if not complete?
