extends layout.pug
include utils.pug

block head
    title #{title}
append head
    link(rel='stylesheet' href='/stylesheets/reviews.css')
    script(src="/javascripts/reviews.js" type="module")

block content
    div(class='edit-review-container')
        div(class='delete-review-div')
            button(type='button' class='delete-review-btn' data-review-id=reviewId data-game-guide-id=gameGuideId) X
        h1 Edit Your Review
        if errors
            div(class='error-box')
                +validationErrorSummary(errors)
        form(method='post' action=`/game-guides/${gameGuideId}/reviews/${reviewId}/edit`)
            fieldset
                input(type='hidden' name='_csrf' value=csrfToken)

                div(class="fieldEle heart-rating") Rating
                    input(type='radio' name='rating' title="did not like it" value='1' id='rating1' class='heart' checked=(rating === 1))
                    input(type='radio' name='rating' title="it was ok" value='2' id='rating2' class='heart' checked=(rating === 2))
                    input(type='radio' name='rating' title="liked it" value='3' id='rating3' class='heart' checked=(rating === 3))
                    input(type='radio' name='rating' title="really liked it" value='4' id='rating4' class='heart' checked=(rating === 4))
                    input(type='radio' name='rating' title="it was amazing" value='5' id='rating5' class='heart' checked=(rating === 5))

                div(class="fieldEle")
                    label(for='reviewText') Review
                    textarea(id='reviewText' name='reviewText' value=reviewText placeholder=`What would you like to say about ${gameGuide.title}?`) #{reviewText}
                div(class="submitEle")
                    button(type='submit' class="submit-button") Submit
                    a(href=`/game-guides/${gameGuideId}` class="submit-button cancel-button") Cancel
