extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
    div.homegrid
        span.current-play
            h4 Currently Playing
            if locals.authenticated
                ul#curr-guides
                    each guide in currentGuides
                        li: img.small-square(src=`${guide.coverImg}`)
            else
                p.not-auth Please login to view your saved guides
        span.want-play
            h4 Want to Play
            if locals.authenticated
                ul#want-guides
                    each guide in wantToGuides
                        li: img.small-square(src=`${guide.coverImg}`)
            else
                p.not-auth Please login to view your saved guides
        span.list-shelves
            h4 Shelves
            span.shelves-container
                if locals.authenticated
                    div.shelves-counts
                        a.shelves-link#want-to-play-num(href="/my-game-guides/status-shelves/1") 0
                        a.shelves-link#currently-playing-num(href="/my-game-guides/status-shelves/2") 0
                        a.shelves-link#play-num(href="/my-game-guides/status-shelves/3") 0
                    div.shelves-names
                        a.shelves-link#want-to-play(href="/my-game-guides/status-shelves/1") Want to Play
                        a.shelves-link#currently-playing(href="/my-game-guides/status-shelves/2") Currently Playing
                        a.shelves-link#play(href="/my-game-guides/status-shelves/3") Played
                else
                    p.not-auth Please login to view your saved guides

        div.middle-guides-container
            table.all-guides
                thead
                    tr 
                        th(scope='col') Cover
                        th(scope='col') Title
                        th(scope='col') Author
                tbody
                    each guide in guides
                        tr
                            td.img-container
                                a(href=`/game-guides/${guide.id}`)
                                    img.guide-img(src=`${guide.coverImg}`)
                            td=guide.title 
                            td=guide.author
        div.socials#whit
          a(href="https://github.com/whitnessme") Whitney
        div.socials#alex
          a(href="https://github.com/alexsmaldone") Alex
        div.socials#laura
          a(href="https://github.com/lrmaser") Laura
