extends layout.pug

block head
    title #{user.fullName}'s Guides on GoodGameGuides

append head
    link(rel='stylesheet' href='/stylesheets/my-game-guides.css')
    script(src='/javascripts/my-game-guides.js' type='module' defer)

block content
    div(class='mainContentContainer')
        div(class='mainContent')
            div(id='columnContainer' class='myGuidesPage')
                div(id='leftCol')
                    div(id='sidewrapper')
                        div(id='side')
                            div(id='shelvesSection')
                                div(class='sectionHeader') Guide Shelves
                                    a(class='smallText' href='/my-game-guides/custom-shelves/edit') (Edit)
                                div(id='shelfList' class='stacked')
                                    //- Insert interpolated number for # of games tied to user in database
                                    if url === '/my-game-guides'
                                        div(class='userShelf selectedShelf')
                                            a(href='/my-game-guides') All
                                            a(class='count-a-status-all' href='/my-game-guides')  (#{all})
                                    else
                                        div(class='userShelf')
                                            a(href='/my-game-guides') All
                                            a(class='count-a-status-all' href='/my-game-guides')  (#{all})
                                    if url === '/my-game-guides/status-shelves/3'
                                        div(class='userShelf selectedShelf')
                                            a(href='/my-game-guides/status-shelves/3') Played
                                            a(class='count-a-status-3' href='/my-game-guides/status-shelves/3')  (#{three})
                                    else
                                        div(class='userShelf')
                                            a(href='/my-game-guides/status-shelves/3') Played
                                            a(class='count-a-status-3' href='/my-game-guides/status-shelves/3')  (#{three})
                                    if url === '/my-game-guides/status-shelves/2'
                                        div(class='userShelf selectedShelf')
                                            a(href='/my-game-guides/status-shelves/2') Currently Playing
                                            a(class='count-a-status-2' href='/my-game-guides/status-shelves/2')  (#{two})
                                    else
                                        div(class='userShelf')
                                            a(href='/my-game-guides/status-shelves/2') Currently Playing
                                            a(class='count-a-status-2' href='/my-game-guides/status-shelves/2')  (#{two})
                                    if url === '/my-game-guides/status-shelves/1'
                                        div(class='userShelf selectedShelf')
                                            a(href='/my-game-guides/status-shelves/1') Want to Play
                                            a(class='count-a-status-1' href='/my-game-guides/status-shelves/1')  (#{one})
                                    else
                                        div(class='userShelf')
                                            a(href='/my-game-guides/status-shelves/1') Want to Play
                                            a(class='count-a-status-1' href='/my-game-guides/status-shelves/1')  (#{one})
                                    //- Check if user has custom shelves, if yes, display them here with divider
                                    if customShelfAndCount
                                        div(class='divider')
                                        each shelf in customShelfAndCount
                                            if decodeURI(url) === `/my-game-guides/custom-shelves/${shelf.name}`
                                                div(class='userShelf selectedShelf')
                                                    a(href=`/my-game-guides/custom-shelves/${shelf.name}`) #{shelf.name}
                                                    a(class=`count-a-custom-${shelf.name}` href=`/my-game-guides/custom-shelves/${shelf.name}`)  (#{shelf.count})
                                            else
                                                div(class='userShelf')
                                                    a(href=`/my-game-guides/custom-shelves/${shelf.name}`) #{shelf.name}
                                                    a(class=`count-a-custom-${shelf.name}` href=`/my-game-guides/custom-shelves/${shelf.name}`) (#{shelf.count})
                            div(class='stacked')
                                button(id='addShelfBtn') Add Shelf
                                //- Don't display form until Add Shelf has been clicked
                                div(type='button' id='newShelfForm')
                                    include includes/shelf-add-form.pug
                div(id='rightCol')
                    div(class='shelfTableContainer')
                        table(id='guides' class='table stacked')
                            thead
                                tr(id='guidesHeader')
                                    //- Can nest anchor tags to perform sorting queries if wanted/able
                                    th(class='cover') Cover
                                    th(class='title') Title
                                    th(class='author') Author
                                    th(class='rating') Rating
                                    //- Only displaying on All page for now
                                    if url === "/my-game-guides"
                                        th(class='shelves') Shelves
                                    th(class='review') Review
                                    th(class='dateAdded') Date Added
                                    th(class='action')
                            tbody(id='guidesBody')
                                if updatedGuides.length > 0
                                    each guide in updatedGuides
                                        if guide.GameGuide !== null
                                            tr(class='tableDataRow')
                                                td(class='cover'): a(href=`/game-guides/${guide.GameGuide.id}`): img(src=guide.GameGuide.coverImg alt='Game Guide Cover Image')
                                                td(class='title'): a(href=`/game-guides/${guide.GameGuide.id}`)= guide.GameGuide.title
                                                td(class='author')= guide.GameGuide.author
                                                td(class='rating'): div(class="stars")
                                                    //- div(class='empty')
                                                    if guide.GameGuide.Reviews.length
                                                        div(class='star-rating')
                                                            a(class=`heart-${guide.GameGuide.Reviews[0].rating["5"]}` title="it was amazing" href="#") 5 of 5 stars
                                                            a(class=`heart-${guide.GameGuide.Reviews[0].rating["4"]}` title="really liked it" href="#") 4 of 5 stars
                                                            a(class=`heart-${guide.GameGuide.Reviews[0].rating["3"]}` title="liked it" href="#") 3 of 5 stars
                                                            a(class=`heart-${guide.GameGuide.Reviews[0].rating["2"]}` title="it was ok" href="#") 2 of 5 stars
                                                            a(class=`heart-${guide.GameGuide.Reviews[0].rating["1"]}` title="did not like it" href="#") 1 of 5 stars
                                                    else
                                                        div(class='star-rating')
                                                            a(class="star" title="it was amazing" href=`/game-guides/${gameGuide.id}/reviews/new/5`) 5 of 5 stars
                                                            a(class="star" title="really liked it" href=`/game-guides/${gameGuide.id}/reviews/new/4`) 4 of 5 stars
                                                            a(class="star" title="liked it" href=`/game-guides/${gameGuide.id}/reviews/new/3`) 3 of 5 stars
                                                            a(class="star" title="it was ok" href=`/game-guides/${gameGuide.id}/reviews/new/2`) 2 of 5 stars
                                                            a(class="star" title="did not like it" href=`/game-guides/${gameGuide.id}/reviews/new/1`) 1 of 5 stars
                                                    //- div(class='hide') Rating Feature Coming Soon!
                                                if url === "/my-game-guides"
                                                    td(class='shelves'): a(href=`/my-game-guides/status-shelves/${guide.Status.id}`)= guide.Status.name
                                                //- else if url.startsWith("/my-game-guides/status-shelves/")
                                                //-     td(class='shelves'): a(href=`/my-game-guides/status-shelves/${guide.Status.id}`)= guide.Status.name
                                                //- else if url.startsWith("/my-game-guides/custom-shelves/")
                                                //-     td(class='shelves'): a(href=`/my-game-guides/status-shelves/${guide.GameGuide.StatusShelves[0].Status.id}`)= guide.GameGuide.StatusShelves[0].Status.name
                                                //- if guide.GameGuide.Reviews[0]
                                                //-     td(class='review')= guide.GameGuide.Reviews[0].reviewText
                                                //- else
                                                td(class='review')
                                                    if guide.GameGuide.Reviews.length
                                                        p(class="reviews-text")=guide.GameGuide.Reviews[0].reviewText
                                                    else
                                                        a(class="review-text" href=`/game-guides/${guide.GameGuide.id}/reviews/new/0`) Write a Review
                                                    //- div(class="hidden-review") Review Features Coming Soon!
                                                td(class='dateAdded')= guide.createdAt.toDateString().slice(4)
                                                if url.startsWith("/my-game-guides/custom-shelves/")
                                                    td(class='action'): button(type='button' class='removeCustomGuideBtn' data-game-guide-id=`${guide.GameGuide.id}` data-game-guide-title=`${guide.GameGuide.title}` data-shelf-name=`${shelfName}`) X
                                                else
                                                    td(class='action'): button(type='button' class='removeStatusGuideBtn' data-game-guide-id=`${guide.GameGuide.id}` data-game-guide-title=`${guide.GameGuide.title}` data-status-id=`${guide.Status.id}`) X
                        if updatedGuides.length === 0 || updatedGuides[0].GameGuide === null
                            div(class='noContent') No guides have been added yet!
