extends layout.pug

block head
    title #{user.fullName}'s Guides on GoodGameGuides

append head
    link(rel='stylesheet' href='/stylesheets/my-game-guides.css')
    script(src='../javascripts/my-game-guides.js' type='module' defer)

block content
    div(class='mainContentContainer')
        div(class='mainContent')
            div(id='columnContainer' class='myGuidesPage')
                div(id='leftCol')
                    div(id='sidewrapper')
                        div(id='side')
                            div(id='shelvesSection')
                                div(class='sectionHeader') Guide Shelves
                                    a(class='smallText' href='/my-game-guides/custom-shelves/edit') (Edit)
                                div(id='shelfList' class='stacked')
                                    //- Insert interpolated number for # of games tied to user in database
                                    if url === '/'
                                        div(class='userShelf selectedShelf'): a(href='/my-game-guides') All (?)
                                    else
                                        div(class='userShelf'): a(href='/my-game-guides') All (?)
                                    if url === '/status-shelves/3'
                                        div(class='userShelf selectedShelf'): a(href='/my-game-guides/status-shelves/3') Played (?)
                                    else
                                        div(class='userShelf'): a(href='/my-game-guides/status-shelves/3') Played (?)
                                    if url === '/status-shelves/2'
                                        div(class='userShelf selectedShelf'): a(href='/my-game-guides/status-shelves/2') Currently Playing (?)
                                    else
                                        div(class='userShelf'): a(href='/my-game-guides/status-shelves/2') Currently Playing (?)
                                    if url === '/status-shelves/1'
                                        div(class='userShelf selectedShelf'): a(href='/my-game-guides/status-shelves/1') Want to Play (?)
                                    else
                                        div(class='userShelf'): a(href='/my-game-guides/status-shelves/1') Want to Play (?)
                                    //- Check if user has custom shelves, if yes, display them here with divider
                                    div(class='divider')
                            div(class='stacked')
                                button(id='addShelfBtn') Add Shelf
                                //- Don't display form until Add Shelf has been clicked
                                div(type='button' id='newShelfForm')
                                    include includes/shelf-add-form.pug
                div(id='rightCol')
                    div(class='shelfTableContainer')
                        table(id='guides' class='table stacked')
                            thead
                                tr(id='guidesHeader')
                                    //- Can nest anchor tags to perform sorting queries if wanted/able
                                    th(class='cover') Cover
                                    th(class='title') Title
                                    th(class='author') Author
                                    th(class='avgRating') Avg Rating
                                    th(class='rating') Rating
                                    th(class='shelves') Shelves
                                    th(class='review') Review
                                    th(class='dateAdded') Date Added
                                    th(class='action')
                            tbody(id='guidesBody')
                                if guides.length > 0
                                    each guide in guides
                                        tr
                                            td(class='cover'): a(href=`/game-guides/${guide.GameGuide.id}`): img(src=guide.GameGuide.coverImg alt='Game Guide Cover Image')
                                            td(class='title'): a(href=`/game-guides/${guide.GameGuide.id}`)= guide.GameGuide.title
                                            td(class='author')= guide.GameGuide.author
                                            td(class='avgRating') ???
                                            td(class='rating'): div(class="stars")
                                                a(class="star off" title="did not like it" href="#") 1 of 5 stars
                                                a(class="star off" title="it was ok" href="#") 2 of 5 stars
                                                a(class="star off" title="liked it" href="#") 3 of 5 stars
                                                a(class="star off" title="really liked it" href="#") 4 of 5 stars
                                                a(class="star off" title="it was amazing" href="#") 5 of 5 stars
                                            td(class='shelves'): a(href=`/my-game-guides/status-shelves/${guide.Status.id}`)= guide.Status.name
                                            if guide.GameGuide.Reviews[0]
                                                td(class='review')= guide.GameGuide.Reviews[0].reviewText
                                            else
                                                td(class='review'): a(href=`/games-guides/${guide.GameGuide.id}/reviews/new`) Write a Review
                                            td(class='dateAdded')= guide.GameGuide.createdAt.toDateString().slice(4)
                                            td(class='action'): a(href='#') X
                        if guides.length === 0
                            div(class='noContent') No guides have been added yet!
